doctype html
html
   head
      title Adrian's image delivery service
   body
        if(imagePath)
            img.image#Visual(src=imagePath alt="Invalid image")
        else
            img(src='data:image/' + format + ';base64,' + buffer)